{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "eqeqeq": 2,
    "no-var": 2,
    "semi": [2, "always"],
    "no-unreachable": 2,
    "no-unused-vars": 2,
    "array-bracket-spacing": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-no-bind": 2,
    "react/react-in-jsx-scope": 2
  },
  "plugins": [
    "babel",
    "react"
  ],
  "extends": "eslint:recommended"
}
